*{
	margin: 0;
	box-sizing: inherit;
}

html{
	font-size: 62.5%;
	margin: 0;
	padding: 0 20px;
	height: 1000px;	
}

.header{
	margin: 20px auto;
}

.login-form{
	height: 450px;
    width: 400px;
    margin: 70px auto;
    border: 1px solid #ddd5d5;
    border-radius: 16px;
    box-shadow: 4px 8px 16px #707174;
	background-color: #f1e3c6;
}

.login-form_header{
	text-align: center;
}

.login-form_heading{
	font-size: 2.8rem;
	font-weight: 550;
	font-family: ui-sans-serif;
	cursor: default;
}

.container{
	margin: 0 70px;
}

.body_login-form--heading {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 25px 0 15px 0;
	color: #6c6868;
	cursor: default;
}

.login-form--btn{
	font-size: 1.8rem;
    height: 90px;
}

.login-form--social{
	width: 100%;
	height: 35px;
	font-size: 1.6rem;
	margin-bottom: 10px;
	color: #6e6c6c;
	border-radius: 5px;
    border: 1px solid #857e7e;
	cursor: pointer;
	outline: none;
}

.fa-google{
	margin-left: 14px;
}

.login-form--group{
	height: 50px;
    width: 103%;
}

.form--input{
	position: relative;
	height: 43px;
	width: 103%;
	background-color: #fff;
	margin-top: 10px;
	border-radius: 7px;
}

.login-form--input{
	height: 40px;
    width: 94%;
    border: none;
    border-radius: 0 5px 5px 5px;
    outline: none;
    font-size: 1.5rem;
    position: absolute;
    margin: 0 0 0 10px;
	cursor: default;
}

.login-form--input:focus{
	cursor: text;
}

.login-form--control{
	font-size: medium;
    height: 30px;
    width: 90%;
	margin: 20px auto 0 ;
}

#form--control{
    font-size: 2rem;
    height: 30px;
    width: 90%;
    border-radius: 7px;
    border: 1px solid #fff;
    background-color: #db710e;
    color: white;
    font-weight: 500;
    margin: 0 auto;
	padding-bottom: 4px;
	outline: none;
	cursor: pointer;
	border: none;
	transition: all 400ms;
	box-shadow: 0 0 10px  #f1a137, 0 0 10px antiquewhite;
}

#form--control:hover {
  background-color: #c76306;
  box-shadow: none;
}









